html,
body {
  height: 100%;
}

body {
 
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 22px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bg{
  background-image:url("img3.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}


.bg1{
  background-image:url("img1.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

